.content{
    width: 90%;
    margin: 1.4rem auto;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: black;
    font-weight: 500;
}

button{
    margin-bottom: .8rem;
}

.table{
    width: 100%;
}

.livros{
    margin-left: .3rem;
    color: rgb(30, 30, 204);
}

.edit{
    color: rgb(207, 210, 30);
}

.delete{
    color: rgb(255, 42, 42);
    margin-left: .5rem;
}

.mat-header{
    width: 5rem;
}