<mat-toolbar class="header">
    <div class="container-span">
        <span>
            <img src="assets/img/book.png" alt="book">
        </span>
        <span>
            <h1>BOOKSTORE APPLICATION</h1>
        </span>
    </div>
    
    <div class="container-actions">
        <a class="username">
            <mat-icon>account_circle</mat-icon>
            <span>{{usuario.username}}</span>
        </a>
        <button (click)="sair()" class="sair" color="warn" mat-icon-button>Sair<mat-icon>logout</mat-icon></button>
    </div>
</mat-toolbar>
