img{
    height: 3rem;
}

.header{
    justify-content: space-between;
    height: 10%;
}

span{
    display: flex;
    align-items: center;
}

h1{
    padding-left: 1rem;
    font-size: 1.4rem;
}

.container-span{
    display: flex;
}

.container-actions{
    display: flex;
    align-items: center;
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    margin-right: 8px;
}

.username mat-icon{
    margin-right: 2px;
}
