<div class="container">
    <mat-card class="login">
        <mat-card-title>REGISTRAR</mat-card-title>
        <mat-card-content>
            <form>
                <p>
                    <mat-form-field class="input">
                        <input [(ngModel)]="usuario.username" name="username" type="text" matInput placeholder="Usuário">
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class="input">
                        <input [(ngModel)]="usuario.email" name="email" type="email" matInput placeholder="E-mail">
                    </mat-form-field>
                </p>
                
                <p>
                    <mat-form-field class="input">
                        <input [(ngModel)]="usuario.senha" name="senha" type="password" matInput placeholder="Senha">
                    </mat-form-field>
                </p>
                
    
            <!-- <p *ngIf="error" class="error">
                {{ error }}
            </p> -->
    
                <div class="button">
                    <button (click)="registrar()" color="primary" mat-raised-button>REGISTRAR</button>
                </div>
                <div class="button">
                    <button (click)="irParaLogin()" color="accent" mat-raised-button>IR PARA LOGIN</button>
                </div>
    
            </form>
        </mat-card-content>
    </mat-card>
</div>
